project_id             = "your-gcp-project-id"
region                 = "us-central1"
zone                   = "us-central1-a"
cluster_name           = "mission-status-gke"
network_name           = "mission-status-vpc"
subnet_name            = "mission-status-subnet"
artifact_repo_name     = "mission-status"
artifact_repo_location = "us-central1"
domain_name            = "app.kanedata.net"
dns_zone_name          = "kanedata-net"
